flows.json
[
    {
        "id": "7d408dab.571a94",
        "type": "tab",
        "label": "Simple Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "be8c5fdd.8e",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "7f5aeeb5.5029d",
                "e92ce0a0bc046b9a"
            ]
        ]
    },
    {
        "id": "7f5aeeb5.5029d",
        "type": "debug",
        "z": "7d408dab.571a94",
        "name": "Raw Input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "7d6c8f71b659353d",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "e92ce0a0bc046b9a",
                "7f5aeeb5.5029d"
            ]
        ]
    },
    {
        "id": "e92ce0a0bc046b9a",
        "type": "8relind",
        "z": "7d408dab.571a94",
        "name": "Relay #1",
        "stack": "0",
        "relay": "1",
        "payload": "payload",
        "payloadType": "msg",
        "x": 480,
        "y": 360,
        "wires": [
            [
                "26f2b1b9d7a9065b"
            ]
        ]
    },
    {
        "id": "26f2b1b9d7a9065b",
        "type": "debug",
        "z": "7d408dab.571a94",
        "name": "Relay Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "6201f447d96bb399",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "fe99855e83d62985"
            ]
        ]
    },
    {
        "id": "a3fa73caee298f57",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "fe99855e83d62985"
            ]
        ]
    },
    {
        "id": "fe99855e83d62985",
        "type": "8relind",
        "z": "7d408dab.571a94",
        "name": "Relay #5",
        "stack": "0",
        "relay": "5",
        "payload": "payload",
        "payloadType": "msg",
        "x": 480,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "5dc2ace25f1cb2e4",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 120,
        "y": 600,
        "wires": [
            [
                "94b37ee78431638b"
            ]
        ]
    },
    {
        "id": "f24bf20b4fe96f98",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 120,
        "y": 680,
        "wires": [
            [
                "94b37ee78431638b"
            ]
        ]
    },
    {
        "id": "94b37ee78431638b",
        "type": "8relind",
        "z": "7d408dab.571a94",
        "name": "Relay #6",
        "stack": "0",
        "relay": "6",
        "payload": "payload",
        "payloadType": "msg",
        "x": 480,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "4ae7f21dc491756c",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 120,
        "y": 740,
        "wires": [
            [
                "256e0b0dcbb9e666"
            ]
        ]
    },
    {
        "id": "7ef0703513f309fa",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 120,
        "y": 820,
        "wires": [
            [
                "256e0b0dcbb9e666"
            ]
        ]
    },
    {
        "id": "256e0b0dcbb9e666",
        "type": "8relind",
        "z": "7d408dab.571a94",
        "name": "Relay #7",
        "stack": "0",
        "relay": "7",
        "payload": "payload",
        "payloadType": "msg",
        "x": 480,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "b369d7f07f4fcae0",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 120,
        "y": 880,
        "wires": [
            [
                "dbf26215c9cb7af8"
            ]
        ]
    },
    {
        "id": "feb8b9fe61d5cc46",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 120,
        "y": 960,
        "wires": [
            [
                "dbf26215c9cb7af8"
            ]
        ]
    },
    {
        "id": "dbf26215c9cb7af8",
        "type": "8relind",
        "z": "7d408dab.571a94",
        "name": "Relay #8",
        "stack": "0",
        "relay": "8",
        "payload": "payload",
        "payloadType": "msg",
        "x": 480,
        "y": 900,
        "wires": [
            []
        ]
    }
]