flows.json
[
    {
        "id": "7d408dab.571a94",
        "type": "tab",
        "label": "Debug Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "450fdcbd18ed57c6",
        "type": "tab",
        "label": "System Status",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "03928a46de37cade",
        "type": "tab",
        "label": "MQTT Discovery",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "399b0c9fe6882016",
        "type": "tab",
        "label": "Lights",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3952d31aa61ac126",
        "type": "tab",
        "label": "Main Pump",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a8f504dd87f6affd",
        "type": "tab",
        "label": "Schedule",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e84e9cb01a5483cb",
        "type": "subflow",
        "name": "System Health Check",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 160,
                "wires": [
                    {
                        "id": "35650b9e5321030d"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 400,
                "y": 160,
                "wires": [
                    {
                        "id": "35650b9e5321030d",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "e8506e6cda136611",
        "type": "subflow",
        "name": "Pump Speed Control",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 500,
                "wires": [
                    {
                        "id": "5ad1f2718344fa7d"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 2520,
                "y": 520,
                "wires": [
                    {
                        "id": "2ebeb8286b574533",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "3fbc57f2c63e2a25",
        "type": "mqtt-broker",
        "name": "Mosquitto (Home Assistant)",
        "broker": "192.168.4.74",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "swimctl/system/status",
        "birthQos": "2",
        "birthPayload": "starting",
        "birthMsg": {
            "contentType": "text/plain"
        },
        "closeTopic": "swimctl/system/status",
        "closeQos": "2",
        "closePayload": "stopping",
        "closeMsg": {
            "contentType": "text/plain"
        },
        "willTopic": "swimctl/system/status",
        "willQos": "0",
        "willPayload": "offline",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "35650b9e5321030d",
        "type": "delay",
        "z": "e84e9cb01a5483cb",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "9e9cccd484962553",
        "type": "comment",
        "z": "e84e9cb01a5483cb",
        "name": "TODO: Replace delay with health check logic",
        "info": "",
        "x": 330,
        "y": 80,
        "wires": []
    },
    {
        "id": "21dae7cb6eeaccc6",
        "type": "comment",
        "z": "e8506e6cda136611",
        "name": "Control Details",
        "info": "For analog control, the pump has five wires. One with signal voltage and four for speeds (1, 2, 3, 4). No relays enabled means off.\n\nRelays will connect power from the hot wire to the appropriate signal wire.\n\nIt is important to avoid sending power to more than one signal wire simultaneously. This flow aims to ensure that doesn't happen.",
        "x": 1500,
        "y": 80,
        "wires": []
    },
    {
        "id": "5ad1f2718344fa7d",
        "type": "switch",
        "z": "e8506e6cda136611",
        "name": "msg.topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "run_state",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "preset_speed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "speed_state",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 200,
        "y": 500,
        "wires": [
            [
                "0bc21ec5d6ede1d7",
                "3ec38599cf586d55"
            ],
            [
                "05c27b91106f1f5b"
            ],
            [
                "35cbecb532c11ec3",
                "cfc3e13bf382c20e"
            ]
        ]
    },
    {
        "id": "0bc21ec5d6ede1d7",
        "type": "debug",
        "z": "e8506e6cda136611",
        "name": "run_state message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 340,
        "wires": []
    },
    {
        "id": "35cbecb532c11ec3",
        "type": "debug",
        "z": "e8506e6cda136611",
        "name": "speed_state message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 620,
        "wires": []
    },
    {
        "id": "cfc3e13bf382c20e",
        "type": "change",
        "z": "e8506e6cda136611",
        "name": "Store selected speed",
        "rules": [
            {
                "t": "set",
                "p": "speed",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 560,
        "wires": [
            [
                "05c27b91106f1f5b"
            ]
        ]
    },
    {
        "id": "982fb8c511439038",
        "type": "change",
        "z": "e8506e6cda136611",
        "name": "Set Speed to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 380,
        "wires": [
            [
                "05c27b91106f1f5b"
            ]
        ]
    },
    {
        "id": "6f55349b64fd8fab",
        "type": "inject",
        "z": "e8506e6cda136611",
        "name": "Inject Default Speed (1)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "speed_state",
        "payload": "1",
        "payloadType": "num",
        "x": 430,
        "y": 160,
        "wires": [
            [
                "794fb32501548b0c"
            ]
        ]
    },
    {
        "id": "794fb32501548b0c",
        "type": "change",
        "z": "e8506e6cda136611",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "speed",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "3ec38599cf586d55",
        "type": "switch",
        "z": "e8506e6cda136611",
        "name": "run_state",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 420,
        "wires": [
            [
                "982fb8c511439038"
            ],
            [
                "87d55752d6c11981"
            ]
        ]
    },
    {
        "id": "87d55752d6c11981",
        "type": "change",
        "z": "e8506e6cda136611",
        "name": "Set Speed to Previous Value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$flowContext(\"speed\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 440,
        "wires": [
            [
                "05c27b91106f1f5b"
            ]
        ]
    },
    {
        "id": "038b8a66cba663e0",
        "type": "change",
        "z": "e8506e6cda136611",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Speed 4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 840,
        "wires": [
            [
                "c1c9993e58280941"
            ]
        ]
    },
    {
        "id": "baef3b5504e4fa20",
        "type": "change",
        "z": "e8506e6cda136611",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Speed 4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 800,
        "wires": [
            [
                "c1c9993e58280941"
            ]
        ]
    },
    {
        "id": "1233bcfa2be3fb01",
        "type": "change",
        "z": "e8506e6cda136611",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Speed 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 240,
        "wires": [
            [
                "c8d5a8d6f98f042f"
            ]
        ]
    },
    {
        "id": "3bfc82b9fe5d457d",
        "type": "change",
        "z": "e8506e6cda136611",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Speed 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 200,
        "wires": [
            [
                "c8d5a8d6f98f042f"
            ]
        ]
    },
    {
        "id": "f61f414764651f3d",
        "type": "change",
        "z": "e8506e6cda136611",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Speed 2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 440,
        "wires": [
            [
                "29e8379663f848a9"
            ]
        ]
    },
    {
        "id": "2789659a5892f0a8",
        "type": "change",
        "z": "e8506e6cda136611",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Speed 2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 400,
        "wires": [
            [
                "29e8379663f848a9"
            ]
        ]
    },
    {
        "id": "27068ba623c866cd",
        "type": "change",
        "z": "e8506e6cda136611",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Speed 3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 640,
        "wires": [
            [
                "94f1b9722f8d7bd7"
            ]
        ]
    },
    {
        "id": "4845c6590463b098",
        "type": "change",
        "z": "e8506e6cda136611",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Speed 3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 600,
        "wires": [
            [
                "94f1b9722f8d7bd7"
            ]
        ]
    },
    {
        "id": "05c27b91106f1f5b",
        "type": "switch",
        "z": "e8506e6cda136611",
        "name": "Desired Speed",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 1060,
        "y": 500,
        "wires": [
            [
                "1233bcfa2be3fb01",
                "f61f414764651f3d",
                "27068ba623c866cd",
                "038b8a66cba663e0"
            ],
            [
                "e4483ac2de21fd5f",
                "f61f414764651f3d",
                "27068ba623c866cd",
                "038b8a66cba663e0"
            ],
            [
                "f6d208399eae5d9e",
                "1233bcfa2be3fb01",
                "27068ba623c866cd",
                "038b8a66cba663e0"
            ],
            [
                "4dd56df857883a76",
                "f61f414764651f3d",
                "1233bcfa2be3fb01",
                "038b8a66cba663e0"
            ],
            [
                "3f22a50324ddd9b9",
                "27068ba623c866cd",
                "f61f414764651f3d",
                "1233bcfa2be3fb01"
            ]
        ]
    },
    {
        "id": "3f22a50324ddd9b9",
        "type": "delay",
        "z": "e8506e6cda136611",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1490,
        "y": 740,
        "wires": [
            [
                "baef3b5504e4fa20"
            ]
        ]
    },
    {
        "id": "e4483ac2de21fd5f",
        "type": "delay",
        "z": "e8506e6cda136611",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1490,
        "y": 140,
        "wires": [
            [
                "3bfc82b9fe5d457d"
            ]
        ]
    },
    {
        "id": "f6d208399eae5d9e",
        "type": "delay",
        "z": "e8506e6cda136611",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1490,
        "y": 340,
        "wires": [
            [
                "2789659a5892f0a8"
            ]
        ]
    },
    {
        "id": "4dd56df857883a76",
        "type": "delay",
        "z": "e8506e6cda136611",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1490,
        "y": 540,
        "wires": [
            [
                "4845c6590463b098"
            ]
        ]
    },
    {
        "id": "c8d5a8d6f98f042f",
        "type": "8relind",
        "z": "e8506e6cda136611",
        "name": "0:5",
        "stack": "0",
        "relay": "5",
        "payload": "payload",
        "payloadType": "msg",
        "x": 1670,
        "y": 220,
        "wires": [
            [
                "1a835d0e106d9b12"
            ]
        ]
    },
    {
        "id": "29e8379663f848a9",
        "type": "8relind",
        "z": "e8506e6cda136611",
        "name": "0:6",
        "stack": "0",
        "relay": "6",
        "payload": "payload",
        "payloadType": "msg",
        "x": 1670,
        "y": 420,
        "wires": [
            [
                "f52a172bbc4c56c6"
            ]
        ]
    },
    {
        "id": "94f1b9722f8d7bd7",
        "type": "8relind",
        "z": "e8506e6cda136611",
        "name": "0:7",
        "stack": "0",
        "relay": "7",
        "payload": "payload",
        "payloadType": "msg",
        "x": 1670,
        "y": 620,
        "wires": [
            [
                "9347a366d60858ac"
            ]
        ]
    },
    {
        "id": "c1c9993e58280941",
        "type": "8relind",
        "z": "e8506e6cda136611",
        "name": "0:8",
        "stack": "0",
        "relay": "8",
        "payload": "payload",
        "payloadType": "msg",
        "x": 1670,
        "y": 820,
        "wires": [
            [
                "fcb4886b30e06e77"
            ]
        ]
    },
    {
        "id": "c456c4bcee791f7a",
        "type": "join",
        "z": "e8506e6cda136611",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "0.25",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2110,
        "y": 520,
        "wires": [
            [
                "2ebeb8286b574533"
            ]
        ]
    },
    {
        "id": "1a835d0e106d9b12",
        "type": "change",
        "z": "e8506e6cda136611",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "speed 1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1830,
        "y": 220,
        "wires": [
            [
                "c456c4bcee791f7a"
            ]
        ]
    },
    {
        "id": "f52a172bbc4c56c6",
        "type": "change",
        "z": "e8506e6cda136611",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "speed 2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1830,
        "y": 420,
        "wires": [
            [
                "c456c4bcee791f7a"
            ]
        ]
    },
    {
        "id": "9347a366d60858ac",
        "type": "change",
        "z": "e8506e6cda136611",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "speed 3",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1830,
        "y": 620,
        "wires": [
            [
                "c456c4bcee791f7a"
            ]
        ]
    },
    {
        "id": "fcb4886b30e06e77",
        "type": "change",
        "z": "e8506e6cda136611",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "speed 4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1830,
        "y": 820,
        "wires": [
            [
                "c456c4bcee791f7a"
            ]
        ]
    },
    {
        "id": "2ebeb8286b574533",
        "type": "change",
        "z": "e8506e6cda136611",
        "name": "Extract current speed as an int",
        "rules": [
            {
                "t": "set",
                "p": "payload.current_speed",
                "pt": "msg",
                "to": "payload.$sift(function($v, $k) { $v = 1}) ~> $keys ~> $substring(-1) ~> $number",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2330,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "be8c5fdd.8e",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "7f5aeeb5.5029d",
                "e92ce0a0bc046b9a"
            ]
        ]
    },
    {
        "id": "7f5aeeb5.5029d",
        "type": "debug",
        "z": "7d408dab.571a94",
        "name": "Raw Input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 160,
        "wires": []
    },
    {
        "id": "7d6c8f71b659353d",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "e92ce0a0bc046b9a",
                "7f5aeeb5.5029d"
            ]
        ]
    },
    {
        "id": "e92ce0a0bc046b9a",
        "type": "8relind",
        "z": "7d408dab.571a94",
        "name": "Relay #0:1",
        "stack": "0",
        "relay": "1",
        "payload": "payload",
        "payloadType": "msg",
        "x": 490,
        "y": 260,
        "wires": [
            [
                "26f2b1b9d7a9065b"
            ]
        ]
    },
    {
        "id": "26f2b1b9d7a9065b",
        "type": "debug",
        "z": "7d408dab.571a94",
        "name": "Relay Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 260,
        "wires": []
    },
    {
        "id": "6201f447d96bb399",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 120,
        "y": 900,
        "wires": [
            [
                "fe99855e83d62985"
            ]
        ]
    },
    {
        "id": "a3fa73caee298f57",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 120,
        "y": 980,
        "wires": [
            [
                "fe99855e83d62985"
            ]
        ]
    },
    {
        "id": "fe99855e83d62985",
        "type": "8relind",
        "z": "7d408dab.571a94",
        "name": "Relay #0:5",
        "stack": "0",
        "relay": "5",
        "payload": "payload",
        "payloadType": "msg",
        "x": 490,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "5dc2ace25f1cb2e4",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 120,
        "y": 1040,
        "wires": [
            [
                "94b37ee78431638b"
            ]
        ]
    },
    {
        "id": "f24bf20b4fe96f98",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 120,
        "y": 1120,
        "wires": [
            [
                "94b37ee78431638b"
            ]
        ]
    },
    {
        "id": "94b37ee78431638b",
        "type": "8relind",
        "z": "7d408dab.571a94",
        "name": "Relay #0:6",
        "stack": "0",
        "relay": "6",
        "payload": "payload",
        "payloadType": "msg",
        "x": 490,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "4ae7f21dc491756c",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 120,
        "y": 1180,
        "wires": [
            [
                "256e0b0dcbb9e666"
            ]
        ]
    },
    {
        "id": "7ef0703513f309fa",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 120,
        "y": 1260,
        "wires": [
            [
                "256e0b0dcbb9e666"
            ]
        ]
    },
    {
        "id": "256e0b0dcbb9e666",
        "type": "8relind",
        "z": "7d408dab.571a94",
        "name": "Relay #0:7",
        "stack": "0",
        "relay": "7",
        "payload": "payload",
        "payloadType": "msg",
        "x": 490,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "b369d7f07f4fcae0",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 120,
        "y": 1320,
        "wires": [
            [
                "dbf26215c9cb7af8"
            ]
        ]
    },
    {
        "id": "feb8b9fe61d5cc46",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 120,
        "y": 1400,
        "wires": [
            [
                "dbf26215c9cb7af8"
            ]
        ]
    },
    {
        "id": "dbf26215c9cb7af8",
        "type": "8relind",
        "z": "7d408dab.571a94",
        "name": "Relay #0:8",
        "stack": "0",
        "relay": "8",
        "payload": "payload",
        "payloadType": "msg",
        "x": 490,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "e1d5a802617cc3ac",
        "type": "8relind",
        "z": "7d408dab.571a94",
        "name": "Relay #1:1",
        "stack": "1",
        "relay": "1",
        "payload": "payload",
        "payloadType": "msg",
        "x": 490,
        "y": 1640,
        "wires": [
            [
                "742a92191a2d1343"
            ]
        ]
    },
    {
        "id": "4ccf147b731862c7",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 120,
        "y": 1620,
        "wires": [
            [
                "e1d5a802617cc3ac"
            ]
        ]
    },
    {
        "id": "9d8f95dcec278f3b",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 120,
        "y": 1700,
        "wires": [
            [
                "e1d5a802617cc3ac"
            ]
        ]
    },
    {
        "id": "742a92191a2d1343",
        "type": "debug",
        "z": "7d408dab.571a94",
        "name": "Relay Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1640,
        "wires": []
    },
    {
        "id": "38fd0e6b3de1e65b",
        "type": "8relind",
        "z": "7d408dab.571a94",
        "name": "Relay #1:7",
        "stack": "1",
        "relay": "7",
        "payload": "payload",
        "payloadType": "msg",
        "x": 490,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "ebeec970531fa910",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 120,
        "y": 1800,
        "wires": [
            [
                "38fd0e6b3de1e65b"
            ]
        ]
    },
    {
        "id": "a78b79afda4c8257",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 120,
        "y": 1880,
        "wires": [
            [
                "38fd0e6b3de1e65b"
            ]
        ]
    },
    {
        "id": "8bd7684249a7efef",
        "type": "8relind",
        "z": "7d408dab.571a94",
        "name": "Relay #1:8",
        "stack": "1",
        "relay": "8",
        "payload": "payload",
        "payloadType": "msg",
        "x": 490,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "1f03eae74be7f79d",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 120,
        "y": 1960,
        "wires": [
            [
                "8bd7684249a7efef"
            ]
        ]
    },
    {
        "id": "a97b2bfa08b2a768",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 120,
        "y": 2040,
        "wires": [
            [
                "8bd7684249a7efef"
            ]
        ]
    },
    {
        "id": "50fe4aab473c6ced",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 120,
        "y": 760,
        "wires": [
            [
                "a8e0314521a07097"
            ]
        ]
    },
    {
        "id": "5b5334f2ec9ae3f9",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 120,
        "y": 840,
        "wires": [
            [
                "a8e0314521a07097"
            ]
        ]
    },
    {
        "id": "a8e0314521a07097",
        "type": "8relind",
        "z": "7d408dab.571a94",
        "name": "Relay #0:4",
        "stack": "0",
        "relay": "4",
        "payload": "payload",
        "payloadType": "msg",
        "x": 490,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "1ebb2420292aa6ea",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 120,
        "y": 600,
        "wires": [
            [
                "2037130d1ce8c7b3"
            ]
        ]
    },
    {
        "id": "33fd43336d25201f",
        "type": "inject",
        "z": "7d408dab.571a94",
        "name": "Turn On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 120,
        "y": 680,
        "wires": [
            [
                "2037130d1ce8c7b3"
            ]
        ]
    },
    {
        "id": "2037130d1ce8c7b3",
        "type": "8relind",
        "z": "7d408dab.571a94",
        "name": "Relay #0:3",
        "stack": "0",
        "relay": "3",
        "payload": "payload",
        "payloadType": "msg",
        "x": 490,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "8477439e60fc5c07",
        "type": "link out",
        "z": "450fdcbd18ed57c6",
        "name": "Device Metadata",
        "mode": "link",
        "links": [
            "central_metadata_input"
        ],
        "x": 495,
        "y": 140,
        "wires": []
    },
    {
        "id": "7c17a9f90f41ad64",
        "type": "inject",
        "z": "450fdcbd18ed57c6",
        "name": "On Startup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "2ccd6d4c0c25b11b",
                "983d6a6269518181"
            ]
        ]
    },
    {
        "id": "2ccd6d4c0c25b11b",
        "type": "template",
        "z": "450fdcbd18ed57c6",
        "name": "Metadata",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n  \"system\": {\n    \"unique_id\":\"system\",\n    \"platform\": \"sensor\",\n    \"device_class\":\"ENUM\",\n    \"native_value\": \"str\",\n    \"options\": [\n      \"online\",\n      \"offline\",\n      \"starting\",\n      \"stopping\"\n    ],\n    \"state_topic\": \"swimctl/system/status\"\n  }\n}",
        "output": "json",
        "x": 360,
        "y": 140,
        "wires": [
            [
                "8477439e60fc5c07"
            ]
        ]
    },
    {
        "id": "d81339ab9952fb29",
        "type": "link in",
        "z": "450fdcbd18ed57c6",
        "name": "Home Assistant Startup",
        "links": [
            "f217ef5ba3dfbcd4"
        ],
        "x": 225,
        "y": 200,
        "wires": [
            [
                "2ccd6d4c0c25b11b",
                "983d6a6269518181"
            ]
        ]
    },
    {
        "id": "107bda65011ca7a1",
        "type": "mqtt out",
        "z": "450fdcbd18ed57c6",
        "name": "",
        "topic": "swimctl/system/status",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3fbc57f2c63e2a25",
        "x": 800,
        "y": 200,
        "wires": []
    },
    {
        "id": "439418d3394a1efd",
        "type": "template",
        "z": "450fdcbd18ed57c6",
        "name": "Startup Status",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "online",
        "output": "str",
        "x": 600,
        "y": 200,
        "wires": [
            [
                "107bda65011ca7a1"
            ]
        ]
    },
    {
        "id": "983d6a6269518181",
        "type": "subflow:e84e9cb01a5483cb",
        "z": "450fdcbd18ed57c6",
        "name": "",
        "x": 400,
        "y": 200,
        "wires": [
            [
                "439418d3394a1efd"
            ]
        ]
    },
    {
        "id": "ce2ae99a0f8d9c93",
        "type": "mqtt out",
        "z": "03928a46de37cade",
        "name": "Home Assistant MQTT Discovery",
        "topic": "homeassistant/device/swimctl-controller-01/config",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "application/json",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3fbc57f2c63e2a25",
        "x": 800,
        "y": 420,
        "wires": []
    },
    {
        "id": "central_metadata_input",
        "type": "link in",
        "z": "03928a46de37cade",
        "name": "Metadata Input",
        "links": [
            "8477439e60fc5c07",
            "2197c0ec581e0457",
            "aa83f5464328da17",
            "ecf9ce2c588f0c8f",
            "81925d77aaee4a08"
        ],
        "x": 115,
        "y": 420,
        "wires": [
            [
                "6f288140b05f4938",
                "04cc717d69835bf1"
            ]
        ]
    },
    {
        "id": "6f288140b05f4938",
        "type": "join",
        "z": "03928a46de37cade",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "1",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "{}",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 230,
        "y": 420,
        "wires": [
            [
                "be87fe8d4b0d9575",
                "7c5264703d680638"
            ]
        ]
    },
    {
        "id": "be87fe8d4b0d9575",
        "type": "function",
        "z": "03928a46de37cade",
        "name": "Format Discovery Message",
        "func": "return { \"payload\": {\n    \"dev\": {\n        \"ids\": \"swimctl-controller-01\",\n        \"name\": \"Pool Controller\",\n        \"mf\": \"Brian G. Shacklett\",\n        \"mdl\": \"01\",\n        \"sw\": \"0.1.0\",\n        \"sn\": \"00000001\",\n        \"hw\": \"0.1.0\"\n    },\n    \"o\": {\n        \"name\": \"swimctl\",\n        \"sw\": \"0.1.0\",\n        \"url\": \"https://github.com/bgshacklett/swimctl/issues\"\n    },\n    \"cmps\": msg.payload,\n\"state_topic\": \"swimctl/system/state\",\n    \"qos\": 2\n}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 420,
        "wires": [
            [
                "f80e7ec7634438a6",
                "ce2ae99a0f8d9c93"
            ]
        ]
    },
    {
        "id": "7c5264703d680638",
        "type": "debug",
        "z": "03928a46de37cade",
        "name": "Join",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 380,
        "wires": []
    },
    {
        "id": "04cc717d69835bf1",
        "type": "debug",
        "z": "03928a46de37cade",
        "name": "Link In",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 230,
        "y": 380,
        "wires": []
    },
    {
        "id": "f80e7ec7634438a6",
        "type": "debug",
        "z": "03928a46de37cade",
        "name": "Discovered Devices",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 380,
        "wires": []
    },
    {
        "id": "bd894822a26f7320",
        "type": "mqtt in",
        "z": "03928a46de37cade",
        "name": "Home Assistant Status",
        "topic": "homeassistant/status",
        "qos": "2",
        "datatype": "utf8",
        "broker": "3fbc57f2c63e2a25",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 160,
        "wires": [
            [
                "6e5f91f6b8c2d5b1",
                "1884ca75e1d54add"
            ]
        ]
    },
    {
        "id": "6e5f91f6b8c2d5b1",
        "type": "debug",
        "z": "03928a46de37cade",
        "name": "Home Assistant Status",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 120,
        "wires": []
    },
    {
        "id": "1884ca75e1d54add",
        "type": "switch",
        "z": "03928a46de37cade",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "online",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "offline",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "f217ef5ba3dfbcd4"
            ],
            []
        ]
    },
    {
        "id": "f217ef5ba3dfbcd4",
        "type": "link out",
        "z": "03928a46de37cade",
        "name": "Home Assistant Startup",
        "mode": "link",
        "links": [
            "d81339ab9952fb29",
            "75323951ea67af27",
            "206f4aff1ccea06b",
            "660c1d21eeed30fd",
            "4601c678b5cb434e"
        ],
        "x": 525,
        "y": 160,
        "wires": []
    },
    {
        "id": "86f876a33ad41dc3",
        "type": "comment",
        "z": "03928a46de37cade",
        "name": "Trigger discovery on Home Assistant Startup",
        "info": "",
        "x": 270,
        "y": 60,
        "wires": []
    },
    {
        "id": "dd0e20bb968a42e6",
        "type": "comment",
        "z": "03928a46de37cade",
        "name": "Publish Discovery Messages",
        "info": "",
        "x": 220,
        "y": 320,
        "wires": []
    },
    {
        "id": "033c586aae9ed333",
        "type": "inject",
        "z": "399b0c9fe6882016",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "8b4492bae25d3212"
            ]
        ]
    },
    {
        "id": "e2d31460ab13413d",
        "type": "inject",
        "z": "399b0c9fe6882016",
        "name": "Turn On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "8b4492bae25d3212"
            ]
        ]
    },
    {
        "id": "8b4492bae25d3212",
        "type": "8relind",
        "z": "399b0c9fe6882016",
        "name": "Spa Light",
        "stack": "0",
        "relay": "3",
        "payload": "payload",
        "payloadType": "msg",
        "x": 420,
        "y": 280,
        "wires": [
            [
                "75dd174036e567c1",
                "4904d3adca9a9b66"
            ]
        ]
    },
    {
        "id": "d214b9fc6e2cdac6",
        "type": "inject",
        "z": "399b0c9fe6882016",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 120,
        "y": 760,
        "wires": [
            [
                "0fc2784fd5a4b275"
            ]
        ]
    },
    {
        "id": "630466d7dae7453b",
        "type": "inject",
        "z": "399b0c9fe6882016",
        "name": "Turn On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 120,
        "y": 820,
        "wires": [
            [
                "0fc2784fd5a4b275"
            ]
        ]
    },
    {
        "id": "0fc2784fd5a4b275",
        "type": "8relind",
        "z": "399b0c9fe6882016",
        "name": "Pool Light",
        "stack": "0",
        "relay": "4",
        "payload": "payload",
        "payloadType": "msg",
        "x": 420,
        "y": 780,
        "wires": [
            [
                "4eccc78a2dafca10",
                "0bccf570f1768cb1"
            ]
        ]
    },
    {
        "id": "2decf752b7f27aba",
        "type": "mqtt in",
        "z": "399b0c9fe6882016",
        "name": "",
        "topic": "swimctl/lights/spa/command",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "3fbc57f2c63e2a25",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 200,
        "wires": [
            [
                "8b4492bae25d3212"
            ]
        ]
    },
    {
        "id": "75dd174036e567c1",
        "type": "debug",
        "z": "399b0c9fe6882016",
        "name": "Spa Light Events",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "aa83f5464328da17",
        "type": "link out",
        "z": "399b0c9fe6882016",
        "name": "Device Metadata",
        "mode": "link",
        "links": [
            "central_metadata_input"
        ],
        "x": 495,
        "y": 60,
        "wires": []
    },
    {
        "id": "efafe221a2e974b9",
        "type": "inject",
        "z": "399b0c9fe6882016",
        "name": "On Startup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "6f07bc60169c6758"
            ]
        ]
    },
    {
        "id": "6f07bc60169c6758",
        "type": "template",
        "z": "399b0c9fe6882016",
        "name": "Spa Light Metadata",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n  \"spa_light\": {\n    \"name\":\"Spa Light\",\n    \"unique_id\":\"spa_light\",\n    \"object_id\":\"spa_light\",\n    \"platform\": \"light\",\n    \"payload_off\": 0,\n    \"payload_on\": 1,\n    \"command_topic\": \"swimctl/lights/spa/command\",\n    \"state_topic\": \"swimctl/lights/spa/state\"\n  }\n}",
        "output": "json",
        "x": 350,
        "y": 60,
        "wires": [
            [
                "aa83f5464328da17"
            ]
        ]
    },
    {
        "id": "206f4aff1ccea06b",
        "type": "link in",
        "z": "399b0c9fe6882016",
        "name": "Home Assistant Startup",
        "links": [
            "f217ef5ba3dfbcd4"
        ],
        "x": 185,
        "y": 120,
        "wires": [
            [
                "6f07bc60169c6758"
            ]
        ]
    },
    {
        "id": "bbc6d8074b7fa30d",
        "type": "8relindrd",
        "z": "399b0c9fe6882016",
        "name": "Spa Light",
        "stack": "0",
        "relay": "3",
        "payload": "payload",
        "payloadType": "msg",
        "x": 800,
        "y": 280,
        "wires": [
            [
                "29474f994b827fc4"
            ]
        ]
    },
    {
        "id": "29474f994b827fc4",
        "type": "mqtt out",
        "z": "399b0c9fe6882016",
        "name": "",
        "topic": "swimctl/lights/spa/state",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3fbc57f2c63e2a25",
        "x": 1040,
        "y": 280,
        "wires": []
    },
    {
        "id": "1ccc0bcead435922",
        "type": "inject",
        "z": "399b0c9fe6882016",
        "name": "Set state to On",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 780,
        "y": 360,
        "wires": [
            [
                "29474f994b827fc4"
            ]
        ]
    },
    {
        "id": "c10e4b06ffa22c74",
        "type": "inject",
        "z": "399b0c9fe6882016",
        "name": "Set state to Off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 780,
        "y": 420,
        "wires": [
            [
                "29474f994b827fc4"
            ]
        ]
    },
    {
        "id": "4904d3adca9a9b66",
        "type": "delay",
        "z": "399b0c9fe6882016",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 610,
        "y": 280,
        "wires": [
            [
                "bbc6d8074b7fa30d"
            ]
        ]
    },
    {
        "id": "51b773f26cbc74eb",
        "type": "mqtt in",
        "z": "399b0c9fe6882016",
        "name": "",
        "topic": "swimctl/lights/pool/command",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "3fbc57f2c63e2a25",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 700,
        "wires": [
            [
                "0fc2784fd5a4b275"
            ]
        ]
    },
    {
        "id": "0bccf570f1768cb1",
        "type": "debug",
        "z": "399b0c9fe6882016",
        "name": "Pool Light Events",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 720,
        "wires": []
    },
    {
        "id": "ea0afc42972257a0",
        "type": "8relindrd",
        "z": "399b0c9fe6882016",
        "name": "Pool Light",
        "stack": "0",
        "relay": "4",
        "payload": "payload",
        "payloadType": "msg",
        "x": 800,
        "y": 780,
        "wires": [
            [
                "81d8d0b352bf9fe2"
            ]
        ]
    },
    {
        "id": "81d8d0b352bf9fe2",
        "type": "mqtt out",
        "z": "399b0c9fe6882016",
        "name": "",
        "topic": "swimctl/lights/pool/state",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3fbc57f2c63e2a25",
        "x": 1050,
        "y": 780,
        "wires": []
    },
    {
        "id": "e107fa18324ea668",
        "type": "inject",
        "z": "399b0c9fe6882016",
        "name": "Set state to On",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 780,
        "y": 860,
        "wires": [
            [
                "81d8d0b352bf9fe2"
            ]
        ]
    },
    {
        "id": "f1e354dca1e7bde5",
        "type": "inject",
        "z": "399b0c9fe6882016",
        "name": "Set state to Off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 780,
        "y": 920,
        "wires": [
            [
                "81d8d0b352bf9fe2"
            ]
        ]
    },
    {
        "id": "4eccc78a2dafca10",
        "type": "delay",
        "z": "399b0c9fe6882016",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 610,
        "y": 780,
        "wires": [
            [
                "ea0afc42972257a0"
            ]
        ]
    },
    {
        "id": "ecf9ce2c588f0c8f",
        "type": "link out",
        "z": "399b0c9fe6882016",
        "name": "Device Metadata",
        "mode": "link",
        "links": [
            "central_metadata_input"
        ],
        "x": 495,
        "y": 560,
        "wires": []
    },
    {
        "id": "ea98c548f5253ff0",
        "type": "inject",
        "z": "399b0c9fe6882016",
        "name": "On Startup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "0c4fee4dae72df42"
            ]
        ]
    },
    {
        "id": "0c4fee4dae72df42",
        "type": "template",
        "z": "399b0c9fe6882016",
        "name": "Pool Light Metadata",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n  \"pool_light\": {\n    \"name\":\"Pool Light\",\n    \"unique_id\":\"pool_light\",\n    \"object_id\":\"pool_light\",\n    \"platform\": \"light\",\n    \"payload_off\": 0,\n    \"payload_on\": 1,\n    \"command_topic\": \"swimctl/lights/spa/command\",\n    \"state_topic\": \"swimctl/lights/spa/state\"\n  }\n}",
        "output": "json",
        "x": 360,
        "y": 560,
        "wires": [
            [
                "ecf9ce2c588f0c8f"
            ]
        ]
    },
    {
        "id": "660c1d21eeed30fd",
        "type": "link in",
        "z": "399b0c9fe6882016",
        "name": "Home Assistant Startup",
        "links": [
            "f217ef5ba3dfbcd4"
        ],
        "x": 185,
        "y": 620,
        "wires": [
            [
                "0c4fee4dae72df42"
            ]
        ]
    },
    {
        "id": "05e3c514fe3d76b3",
        "type": "inject",
        "z": "3952d31aa61ac126",
        "name": "Speed 1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 300,
        "y": 1320,
        "wires": [
            [
                "ab39f05b91ae3904"
            ]
        ]
    },
    {
        "id": "6bd3dac9c7cf465f",
        "type": "inject",
        "z": "3952d31aa61ac126",
        "name": "Speed 2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 300,
        "y": 1380,
        "wires": [
            [
                "ab39f05b91ae3904"
            ]
        ]
    },
    {
        "id": "866411d8627828c0",
        "type": "inject",
        "z": "3952d31aa61ac126",
        "name": "Speed 3",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 300,
        "y": 1440,
        "wires": [
            [
                "ab39f05b91ae3904"
            ]
        ]
    },
    {
        "id": "f1a971f1a27e48cd",
        "type": "inject",
        "z": "3952d31aa61ac126",
        "name": "Turn Off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 300,
        "y": 1120,
        "wires": [
            [
                "b1be7023284d4978"
            ]
        ]
    },
    {
        "id": "3e6c6e0d0b3618aa",
        "type": "inject",
        "z": "3952d31aa61ac126",
        "name": "Turn On",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 300,
        "y": 1060,
        "wires": [
            [
                "b1be7023284d4978"
            ]
        ]
    },
    {
        "id": "6567fa4913431bd6",
        "type": "comment",
        "z": "3952d31aa61ac126",
        "name": "Run State",
        "info": "",
        "x": 240,
        "y": 940,
        "wires": []
    },
    {
        "id": "09ea27cd4fd29feb",
        "type": "comment",
        "z": "3952d31aa61ac126",
        "name": "Speed",
        "info": "",
        "x": 230,
        "y": 1200,
        "wires": []
    },
    {
        "id": "b1be7023284d4978",
        "type": "change",
        "z": "3952d31aa61ac126",
        "name": "Set Topic = `run_state`; Store value",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "run_state",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "run_state",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 1000,
        "wires": [
            [
                "7b02b7845f623908"
            ]
        ]
    },
    {
        "id": "ab39f05b91ae3904",
        "type": "change",
        "z": "3952d31aa61ac126",
        "name": "Set Topic = speed_state",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "speed_state",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1260,
        "wires": [
            [
                "7b02b7845f623908",
                "928a0ad2ac7d761b"
            ]
        ]
    },
    {
        "id": "839c8eab3fbac022",
        "type": "comment",
        "z": "3952d31aa61ac126",
        "name": "TODO",
        "info": "- Create some sort of gated queue to ensure that preset messages only go through if their actions are successful",
        "x": 230,
        "y": 180,
        "wires": []
    },
    {
        "id": "28bd7589427a2cd7",
        "type": "mqtt in",
        "z": "3952d31aa61ac126",
        "name": "Run State Control",
        "topic": "swimctl/pumps/main/run/command",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3fbc57f2c63e2a25",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 1000,
        "wires": [
            [
                "b1be7023284d4978",
                "8455d86649cb969c"
            ]
        ]
    },
    {
        "id": "dfb4509f8b475972",
        "type": "mqtt in",
        "z": "3952d31aa61ac126",
        "name": "Speed Control",
        "topic": "swimctl/pumps/main/speed/command",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3fbc57f2c63e2a25",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 1260,
        "wires": [
            [
                "ab39f05b91ae3904",
                "f95d66bf0fc0a3d9"
            ]
        ]
    },
    {
        "id": "81925d77aaee4a08",
        "type": "link out",
        "z": "3952d31aa61ac126",
        "name": "Device Metadata",
        "mode": "link",
        "links": [
            "central_metadata_input"
        ],
        "x": 635,
        "y": 400,
        "wires": []
    },
    {
        "id": "0ae7387da555b2c0",
        "type": "inject",
        "z": "3952d31aa61ac126",
        "name": "On Startup",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 270,
        "y": 400,
        "wires": [
            [
                "4354c8b25d483926"
            ]
        ]
    },
    {
        "id": "4354c8b25d483926",
        "type": "template",
        "z": "3952d31aa61ac126",
        "name": "Main Pump Metadata",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n  \"main_pump\": {\n    \"unique_id\":\"main_pump\",\n    \"object_id\":\"main_pump\",\n    \"name\":\"Main Pump\",\n    \"icon\": \"mdi:pump\",\n    \"platform\": \"fan\",\n    \"payload_off\": \"OFF\",\n    \"payload_on\": \"ON\",\n    \"command_topic\": \"swimctl/pumps/main/run/command\",\n    \"state_topic\": \"swimctl/pumps/main/run/state\",\n    \"speed_range_min\": 1,\n    \"speed_range_max\": 3,\n    \"percentage_command_topic\": \"swimctl/pumps/main/speed/command\",\n    \"percentage_state_topic\": \"swimctl/pumps/main/speed/state\",\n    \"preset_modes\": [\"Pool\", \"Spa\", \"Quick Clean\"],\n    \"preset_mode_command_topic\": \"swimctl/pumps/main/mode/command\",\n    \"preset_mode_state_topic\": \"swimctl/pumps/main/mode/state\"\n  }\n}",
        "output": "json",
        "x": 500,
        "y": 400,
        "wires": [
            [
                "81925d77aaee4a08"
            ]
        ]
    },
    {
        "id": "4601c678b5cb434e",
        "type": "link in",
        "z": "3952d31aa61ac126",
        "name": "Home Assistant Startup",
        "links": [
            "f217ef5ba3dfbcd4"
        ],
        "x": 325,
        "y": 460,
        "wires": [
            [
                "4354c8b25d483926"
            ]
        ]
    },
    {
        "id": "8740c417d4038156",
        "type": "comment",
        "z": "3952d31aa61ac126",
        "name": "MQTT Discovery",
        "info": "",
        "x": 260,
        "y": 340,
        "wires": []
    },
    {
        "id": "8455d86649cb969c",
        "type": "debug",
        "z": "3952d31aa61ac126",
        "name": "Run Control Input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 960,
        "wires": []
    },
    {
        "id": "f95d66bf0fc0a3d9",
        "type": "debug",
        "z": "3952d31aa61ac126",
        "name": "Speed Control Input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1220,
        "wires": []
    },
    {
        "id": "26bfca0d79a4951f",
        "type": "comment",
        "z": "3952d31aa61ac126",
        "name": "Mode",
        "info": "",
        "x": 230,
        "y": 560,
        "wires": []
    },
    {
        "id": "f77f6c0adfdc8c5d",
        "type": "mqtt in",
        "z": "3952d31aa61ac126",
        "name": "Mode Control",
        "topic": "swimctl/pumps/main/mode/command",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3fbc57f2c63e2a25",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 620,
        "wires": [
            [
                "54a6b1302ce63e4b",
                "ed0ba8d11312451c"
            ]
        ]
    },
    {
        "id": "3a02fe2b1ab89b67",
        "type": "inject",
        "z": "3952d31aa61ac126",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Pool",
        "payloadType": "str",
        "x": 310,
        "y": 680,
        "wires": [
            [
                "ed0ba8d11312451c"
            ]
        ]
    },
    {
        "id": "22cbba7a99e1161a",
        "type": "inject",
        "z": "3952d31aa61ac126",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Spa",
        "payloadType": "str",
        "x": 310,
        "y": 740,
        "wires": [
            [
                "ed0ba8d11312451c"
            ]
        ]
    },
    {
        "id": "96b14dad0e9c74cb",
        "type": "inject",
        "z": "3952d31aa61ac126",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Quick Clean",
        "payloadType": "str",
        "x": 290,
        "y": 800,
        "wires": [
            [
                "ed0ba8d11312451c"
            ]
        ]
    },
    {
        "id": "54a6b1302ce63e4b",
        "type": "debug",
        "z": "3952d31aa61ac126",
        "name": "State Control Input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 580,
        "wires": []
    },
    {
        "id": "ed0ba8d11312451c",
        "type": "change",
        "z": "3952d31aa61ac126",
        "name": "Set Topic and Event ID",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "mode",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "event_id",
                "pt": "msg",
                "to": "$millis()",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 620,
        "wires": [
            [
                "de8c36c7c9960f50",
                "ecbae120c055f93f"
            ]
        ]
    },
    {
        "id": "5c9d8fbdbc56888f",
        "type": "debug",
        "z": "3952d31aa61ac126",
        "name": "Mode State",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1870,
        "y": 560,
        "wires": []
    },
    {
        "id": "46d426d3c387a06e",
        "type": "mqtt out",
        "z": "3952d31aa61ac126",
        "name": "",
        "topic": "swimctl/pumps/main/mode/state",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3fbc57f2c63e2a25",
        "x": 1930,
        "y": 600,
        "wires": []
    },
    {
        "id": "de8c36c7c9960f50",
        "type": "switch",
        "z": "3952d31aa61ac126",
        "name": "mode",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Pool",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Spa",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Quick Clean",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 750,
        "y": 620,
        "wires": [
            [
                "5c9d8fbdbc56888f",
                "46d426d3c387a06e",
                "878bd0c191d7254f"
            ],
            [
                "d9bff5a984c3a001",
                "46d426d3c387a06e",
                "5c9d8fbdbc56888f"
            ],
            [
                "6d5927f93ffc8f48",
                "46d426d3c387a06e",
                "5c9d8fbdbc56888f"
            ]
        ]
    },
    {
        "id": "cafbe35e920170ff",
        "type": "mqtt out",
        "z": "3952d31aa61ac126",
        "name": "",
        "topic": "swimctl/pumps/main/speed/state",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3fbc57f2c63e2a25",
        "x": 2290,
        "y": 1000,
        "wires": []
    },
    {
        "id": "b7bb82d6dbab3b28",
        "type": "mqtt out",
        "z": "3952d31aa61ac126",
        "name": "",
        "topic": "swimctl/pumps/main/run/state",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3fbc57f2c63e2a25",
        "x": 2290,
        "y": 1060,
        "wires": []
    },
    {
        "id": "d9bff5a984c3a001",
        "type": "change",
        "z": "3952d31aa61ac126",
        "name": "Preset Speed = 3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "3",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "preset_speed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 720,
        "wires": [
            [
                "7b02b7845f623908"
            ]
        ]
    },
    {
        "id": "6d5927f93ffc8f48",
        "type": "change",
        "z": "3952d31aa61ac126",
        "name": "Preset Speed = 4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "4",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "preset_speed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 780,
        "wires": [
            [
                "7b02b7845f623908",
                "be1735cedec0dbed"
            ]
        ]
    },
    {
        "id": "7b02b7845f623908",
        "type": "subflow:e8506e6cda136611",
        "z": "3952d31aa61ac126",
        "name": "",
        "x": 1380,
        "y": 1000,
        "wires": [
            [
                "d48a22a424322fc2",
                "ecc2528b932b41fd",
                "dd6326e133eb2c45"
            ]
        ]
    },
    {
        "id": "878bd0c191d7254f",
        "type": "change",
        "z": "3952d31aa61ac126",
        "name": "Reset to Previous State",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "run_state",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "run_state",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 660,
        "wires": [
            [
                "7b02b7845f623908"
            ]
        ]
    },
    {
        "id": "be1735cedec0dbed",
        "type": "delay",
        "z": "3952d31aa61ac126",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 570,
        "y": 780,
        "wires": [
            [
                "2663755df000bc95"
            ]
        ]
    },
    {
        "id": "2663755df000bc95",
        "type": "change",
        "z": "3952d31aa61ac126",
        "name": "Revert to Pool Mode",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Pool",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 700,
        "wires": [
            [
                "ed0ba8d11312451c"
            ]
        ]
    },
    {
        "id": "d48a22a424322fc2",
        "type": "debug",
        "z": "3952d31aa61ac126",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 1120,
        "wires": []
    },
    {
        "id": "ecbae120c055f93f",
        "type": "debug",
        "z": "3952d31aa61ac126",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 540,
        "wires": []
    },
    {
        "id": "ecc2528b932b41fd",
        "type": "change",
        "z": "3952d31aa61ac126",
        "name": "Evaluate run_state",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$sum(payload.*) > 0 ? \"ON\" : \"OFF\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1670,
        "y": 1060,
        "wires": [
            [
                "b7bb82d6dbab3b28"
            ]
        ]
    },
    {
        "id": "dd6326e133eb2c45",
        "type": "change",
        "z": "3952d31aa61ac126",
        "name": "Extract current speed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.current_speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1680,
        "y": 1000,
        "wires": [
            [
                "26b046f915196815"
            ]
        ]
    },
    {
        "id": "1b61085ebfb04989",
        "type": "debug",
        "z": "3952d31aa61ac126",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2220,
        "y": 960,
        "wires": []
    },
    {
        "id": "26b046f915196815",
        "type": "switch",
        "z": "3952d31aa61ac126",
        "name": "Filter for `current_speed` as number",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "number",
                "vt": "number"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1970,
        "y": 1000,
        "wires": [
            [
                "cafbe35e920170ff",
                "1b61085ebfb04989"
            ]
        ]
    },
    {
        "id": "928a0ad2ac7d761b",
        "type": "change",
        "z": "3952d31aa61ac126",
        "name": "Store `run_state` == \"ON\"",
        "rules": [
            {
                "t": "set",
                "p": "run_state",
                "pt": "flow",
                "to": "ON",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 1260,
        "wires": [
            []
        ]
    }
]